VITE_FFMPEG_CLASS_WORKER_URL=https://static.example.com/opennist/ffmpeg/worker.js
VITE_FFMPEG_CORE_URL=https://static.example.com/opennist/ffmpeg/ffmpeg-core.js
VITE_FFMPEG_WASM_URL=https://static.example.com/opennist/ffmpeg/ffmpeg-core.wasm
